/* smartphones - small */
@media (max-width:576px){
    .container{
        width: 90%;
    }
    /******** nav - start ********/
    nav{
        position: relative;
        padding: 20px 15px;
    }
    nav .nav-logo{
        width: 25%;
        text-align: center;
    }
    nav .nav-logo img{
        width: 100%;
    }
    /****************/
    nav .nav-list{
        width: 60%;
        position: absolute;
        top: 80%;
        left: 2.5%;
        width: 95%;
        padding: 3%;
        opacity: 0;
        visibility: hidden;
    }
    nav .nav-list .list{
        display: block;
        background-color: #333;
        padding: 3%;
    }
    nav .nav-list .list .list-item{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    nav .nav-list .list .list-item .item-link{
        color: white;
        font-size: 14px;
    }
    nav .nav-list .list .list-item:hover .item-link{
        color: #ff2020;
    }
    nav .nav-list .list .list-item:nth-child(4)::after{
        display: none;
    }
    nav .nav-list .list .list-item .dropdown{
        background-color: #fff;
        position: absolute;
        width: 160px;
        top: 50px;
        left: -4px;
        padding: 15px;
        border-radius: 5px;
        border-top: 3px solid #ff2020;
        opacity: 0;
        visibility: hidden;
        transition: top 0.6s, opacity 0.5s;
    }
    nav .nav-list .list .list-item .dropdown::before{
        content: ' ';
        position: absolute;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid red;
        top: -21px;
    }
    nav .nav-list .list .list-item:hover .dropdown{
        opacity: 1;
        visibility: visible;
        top: 40px;
    }
    nav .nav-list .list .list-item .dropdown .dropdown-link{
        color: black;
        font-weight: 600;
        transition: color 0.5s;
    }
    nav .nav-list .list .list-item .dropdown .dropdown-link:hover{
        color: #ff2020;
    }
    nav .nav-list .list .list-item .dropdown .dropdown-item{
        padding: 8px 0;
    }
    /****************/
    nav .nav-icon{
        width: 30%;
        text-align: center;
        float: left;
        margin-right: 50px;
    }
    nav .nav-icon i{
        padding-left: 5px;
        color: black;
        transition: color 0.5s;
    }
    nav .nav-icon i:hover{
        color: #ff2020;
    }
    label{
        display: block;
        order: 1;
    }
    #inpCheck:checked + .nav-list{
        opacity: 1;
        visibility: visible;
        transition: 0.6s;
    }
    /******** nav - end ********/

    /******** header - start ********/
    .header{
        padding: 20px 10px;
    }
    .header .container{
        width: 90%;
        overflow: hidden;
    }
    .header .header-img{
        display: none;
    }
    .header .header-content{
        width: 100%;
        padding-left: 0px;
    }
    .header .header-content h2{
        font-size: 32px;
        margin-bottom: 15px;
        line-height: 45px;
        text-align: center;
    }
    .header .header-content p{
        width: 100%;
        text-align: justify;
        font-size: 15px;
        margin-bottom: 30px;
        line-height: 25px;
    }
    .header .header-content .header-bt{
        font-size: 16px;
        padding: 10px 20px;
        text-align: center;
        display: block;
    }
    .header .header-content .header-bt:hover{
        box-shadow: inset 400px 0 0 0 red;
    }
/******** header - end ********/

/******** new-product - start ********/
    .new-products{
        padding: 70px 0;
    }
    .new-products .row{
        flex-direction: column;
    }
    .new-products .new-product .new-product-item{
        padding-bottom: 30px;
    }
    .new-products h2{
        font-size: 34px;
        margin-bottom: 20px;
    }
    .new-products .new-product .new-product-item .product-desc h3{
        font-size: 20px;
    }
    .new-products .new-product .new-product-item .product-desc span{
        font-size: 16px;
    }
/******** new-product - end ********/

/******** gallery - start ********/

    .gallery .row{
        flex-direction: column;
    }
    .gallery .small .small-img1{
        margin-bottom: 0px;
    }
/******** gallery - end ********/

/******** popular - start ********/
    .popular{
        padding: 70px 0;
    }
    .popular h2{
        font-size: 34px;
    }
    .popular .pop-items .pop-item{
        margin: auto;
    }

/******** popular - end ********/

/******** choices - start ********/
    .choice1 .row , .choice2 .row{
        flex-direction: column;
    }
    .choice1 , .choice2{
        padding-top: 70px;
    }
    /* .choice1 .choice1-desc,
    .choice2 .choice2-desc{
        width: 100%;
    } */
    .choice1 .choice1-desc h2,
    .choice2 .choice2-desc h2{
        font-size: 34px;
        margin-bottom: 20px;
    }
    .choice1 .choice1-desc p,
    .choice2 .choice2-desc p{
        margin-bottom:30px;
        font-size: 16px;
        width: 100%;
        line-height: 25px;
    }
    .choice1 .choice1-desc a,
    .choice2 .choice2-desc a{
        font-size: 20px;
        padding: 10px 20px;
    }
    .choice1 .choice1-img{
        margin-top: 50px;
    }
    .choice1 .choice1-img,
    .choice2 .choice2-img{
        width: 100%;
    }
    .choice2 .choice2-img{
        padding-right: 0px;
    }
    .choice2 .choice2-desc p{
        width: 100%;
    }
/******** choices - end ********/

/******** shop-method - start ********/
    .shop-method{
        margin: 70px 0px 50px 0px;
    }
    .shop-method .row{
        flex-direction: column;
    }
    .shop-method .method{
        width: 100%;
        margin-bottom: 50px;
    }
    .shop-method .method h3{
        margin-bottom: 12px;
        font-size: 18px;
    }
    .shop-method .method p{
        width: 100%;
        line-height: 25px;
    }
/******** shop-method - end ********/

/******** footer - start ********/
    footer{
        padding: 70px 0 0 0;
    }
    footer .row{
        flex-direction: column;
    }
    footer .column{
        width: 100%;
        margin-bottom: 50px;
    }
    /* column1 */
    footer .column1 .column1-para{
        width: 100%;
        line-height: 25px;
    }
    /* column2,3,4 */
    footer .column h4{
        margin-bottom: 10px;
    }
/******** footer - end ********/

/******** copy-rights - start ********/
    .copy-rights{
        padding: 0px 0 40px 0;
    }
    .copy-rights .row{
        flex-direction: column;
    }
    .copy-rights .line .row{
        flex-direction: row;
    }
    .copy-rights .line .icons{
        padding: 30px 0;
        width: 40%;
    }
    .copy-rights .line p{
        width: 100%;
        text-align: center;
    }
/******** copy-rights - end ********/

}

/* tablets - medium */
@media (min-width:576px) and (max-width:992px){
    .container{
        width: 90%;
    }
    /******** nav - start ********/
    nav{
        position: relative;
        padding: 20px;
    }
    nav .nav-logo{
        width: 15%;
    }
    nav .nav-logo img{
        width: 100%;
    }
    /****************/
    nav .nav-list{
        width: 60%;
        position: absolute;
        top: 65%;
        left: 2.5%;
        width: 95%;
        padding: 3%;
        opacity: 0;
        visibility: hidden;
    }
    nav .nav-list .list{
        display: block;
        background-color: #333;
        padding: 3%;
    }
    nav .nav-list .list .list-item{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    nav .nav-list .list .list-item .item-link{
        color: white;
        font-size: 14px;
    }
    nav .nav-list .list .list-item:hover .item-link{
        color: #ff2020;
    }
    nav .nav-list .list .list-item:nth-child(4)::after{
        display: none;
    }
    /****************/
    nav .nav-icon{
        width: 30%;
        text-align: center;
        float: left;
        margin-right: 50px;
    }
    nav .nav-icon i{
        padding-left: 5px;
        color: black;
        transition: color 0.5s;
    }
    nav .nav-icon i:hover{
        color: #ff2020;
    }
    label{
        display: block;
        order: 1;
    }
    #inpCheck:checked + .nav-list{
        opacity: 1;
        visibility: visible;
        transition: 0.6s;
    }
    /******** nav - end ********/
    
    /******** header - start ********/
    .header{
        padding-top: 0px;
    }
    .header .container{
        width: 90%;
        overflow: hidden;
    }
    .header img{
        width: 30%;
    }
    .header .header-content{
        width: 70%;
        padding-left: 0px;
    }
    .header .header-content h2{
        font-size: 50px;
        margin-bottom: 30px;
        line-height: 50px;
    }
    .header .header-content p{
        margin-bottom: 30px;
        line-height: 30px;
        width: 75%;
    }
    .header .header-content .header-bt{
        padding: 10px 20px;
    }
/******** header - end ********/
/******** new-product - start ********/
    .new-products{
        padding: 70px 0;
    }
    .new-products .row{
        flex-wrap: wrap;
    }
    .new-products h2{
        font-size: 36px;
        margin-bottom: 50px;
    }
    .new-products .new-product .new-product-item{
        width: 45%;
        margin-bottom: 30px;
    }
    .new-products .new-product .new-product-item .product-desc h3{
        font-size: 22px;
    }
/******** new-product - end ********/

/******** gallery - start ********/
    .gallery .row{
        flex-wrap: wrap;
    }
    .big-img1 , .big-img2{
        width: 49%;
    }
    .small{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 1.6%;
    }
    .small .small-img1,
    .small .small-img2{
        width: 49%;
    } 
/******** gallery - end ********/


/******** popular - start ********/
    .popular{
        padding: 100px 0;
    }
    .popular h2{
        font-size: 36px;
    }
    .popular .pop-items{
        flex-wrap: wrap;
        margin-top: 60px;
        margin-bottom: 50px;
    }
    .popular .pop-items .pop-item{
        width: 48%;
    }
    .popular .pop-item h3{
        font-size: 20px;
    }
    .popular .pop-item span{
        position: absolute;
        top: 340px;
        right: 0;
        left: 0;
        width: 105%;
        background-color: red;
        padding: 12px 0;
        color: white;
        font-size: 18px;
        z-index: 9999;
        opacity: 0;
        cursor: pointer;
        visibility: hidden;
        transition: opacity .5s;
    }
/******** popular - end ********/

/******** choices - start ********/
    .choice1 , .choice2{
        padding-top: 70px;
    }

    .choice1 .choice1-desc h2,
    .choice2 .choice2-desc h2{
        font-size: 34px;
        margin-bottom: 20px;
    }
    .choice1 .choice1-desc p,
    .choice2 .choice2-desc p{
        margin-bottom:30px;
        font-size: 16px;
        width: 100%;
        line-height: 25px;
    }
    .choice1 .choice1-desc a,
    .choice2 .choice2-desc a{
        font-size: 20px;
        padding: 10px 20px;
    }
    .choice1 .choice1-img{
        margin-top: 50px;
    }
    .choice1 .choice1-desc,
    .choice2 .choice2-desc{
        width: 48%;
    }
    .choice1 .choice1-img,
    .choice2 .choice2-img{
        width: 47%;
    }
    .choice2 .choice2-img{
        padding-right: 0px;
    }
/******** choices - end ********/

}

/* macbook and other - large */
@media (min-width:992px) and (max-width:1280px){

    /******** nav - start ********/
    nav{
        padding: 20px;
    }
    nav .nav-logo img{
        width: 40%;
    }
    nav .nav-list .list{
        margin-top: 20px;
    }
    /******** nav - end ********/

    /******** header - start ********/
    .header .container{
        width: 80%;
        overflow: hidden;
    }
    .header .header-img{
        width: 20%;
    }
    .header .header-content{
        width: 70%;
        padding-left: 0px;
    }
    .header .header-content h2{
        font-size: 40px;
        margin-bottom: 30px;
        line-height: 30px;
    }
    .header .header-content p{
        width: 70%;
        line-height: 30px;
        font-size: 20px;
        margin-bottom: 40px;
    }
    /******** header - end ********/

    /******** new-product - start ********/
    .container{
        width: 90%;
    }
    .gallery{
        display: none;
    }
    /******** new-product - end ********/
}